.img-details img {
  width: 360px;
}

.item-card {
  background-color: lightblue;
  border-color: lightcyan;
  border-radius: 10px;
  border-style: solid;
  display: inline-block;
  margin: 5% 0;
  padding: 10px;
  text-align: center;
  width: 160px;
}

.recomended {
  margin: auto;
  width: 340px;
}

.recomended h3 {
  margin-top: 15px;
  text-align: center;
}

.player-video {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.item-card img {
  width: 100%;
}

.item-card h4 {
  align-items: center;
  display: flex;
  flex-grow: 1;
  height: 100px;
  justify-content: center;
  margin: 0;
  text-align: center;
  width: 100%;
}

.item-card-container {
  align-items: center;
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 50px;
  overflow-x: scroll;
  padding-bottom: 60px;
  width: 100%;
}

.item-card-cont-details {
  align-items: baseline;
  display: block;
  overflow: scroll;
  white-space: nowrap;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0.1px;
}

::-webkit-scrollbar-track {
  background-color: darkgrey;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.item-card-details img {
  width: 100%;
}

.footer-style {
  background-color: lightblue;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  position: fixed;
  width: 100%;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5px auto 0;
  width: 95%;
}

.category-list button {
  background-color: lightblue;
  border-radius: 5px;
  height: 35px;
  margin: 2px auto;
  width: 32%;
}
